/* YOUR CUSTOM STYLES */
html,
body,
.view {
  height: 100%;
}

.view {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn{
  margin-left: 250px;
  min-width:100px;
}

.box{
  margin-left: 250px !important;
  position: relative;
}


.error_msgs{
	color: red;
	margin-left: 3rem;
}

.md-form .prefix ~ input{
	margin-bottom: 5px;
}

